* {
  padding: 0;
  margin: 0;
  color: rgb(41, 41, 41);
}

/* Commom CSS */

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.text-cener {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}
.btn {
  border-radius: 5px;
  padding: 10px 25px;
  margin: 10px 0;
  cursor: pointer;
  border: 1px solid rgb(172, 172, 172);
}

/* Header section */

header {
  width: inherit;
  height: 100%;
  min-height: 70vh;
  padding: 15px 35px;
  background-color: whitesmoke;
}
.header-wrapper {
  width: 100%;
  min-width: 700px;
}

.left-header {
  padding: 5px 0 0;
  width: 250px;
}

.hamburger {
  width: 20px;
}

.company-name {
  margin: 1px 0 0 50px;
  font-size: 15px;
}

.center-header {
  width: calc(100% - 550px);
}

.header-title {
  font-size: 25px;
}

.right-header {
  width: 300px;
  padding: 5px 0 0;
}

.basic-margin {
  margin-left: 150px;
}

/* Rec section */

.rec-div {
  width: inherit;
  height: auto;
  box-sizing: border-box;
  padding: 100px 35px;
}

.left-rec {
  width: 40%;
}
.right-rec {
  width: 60%;
}

.left-rec-ctr {
  width: 100%;
  max-width: 350px;
  margin: 80px auto;
}

.rec-desc {
  margin: 20px 0 0 0;
}

.rec-image {
  width: 100%;
  max-width: 550px;
  display: block;
  margin: 30px auto;
}

.rec-buy-btn {
  margin-top: 30px;
}

/* category */

.category {
  width: auto;
  height: auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.cat-item {
  margin-left: 20px;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(172, 172, 172);
  background-color: whitesmoke;
}

/* Product section */

.product {
  width: auto;
  height: auto;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 10px 100px;
}

.product-wrapper {
  background-color: red;
}

.produt-item {
  width: 30%;
  height: auto;
  margin: 20px calc(10% / 6);
  padding: 3% 2%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: whitesmoke;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 140%;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-dtl {
  margin-top: 50px;
}
